<h1>All Articles</h1>

<ul id="articles">
  <% @articles.each do |article| %>
    <div class="col-md-3">
      <%= link_to article.title, article_path(article) %>
    </div>
  <% end %>
</ul>
<% if logged_in? %>
  <%= link_to "Create a New Article", new_article_path, class: "new_article" %>
<% end %>
