/* universal */

body {
  min-height: 1500px;
  background-color: #FF0000;
  font: {
    family: Verdana, Helvetica, Arial;
    size: 15px;
  }
}

.center {
  text-align: center;
}

a {
  color: #0000AA;
  img {
    border: none;
  }
  &:hover {
    color: #333;
  }
}

.clear {
  clear: both;
  height: 0;
  overflow: hidden;
}
.hidden {
  display: none;
}

.container,.container-fluid {
  // max-width: 1280px;
  // min-height: 700px;
  margin: 0 auto;
  //background: #FDF;
  // padding: 20px 40px;
  // border: solid 1px black;
  // margin-top: 20px;
}


/*flash*/

.alert-error {
  background-color: #f2dede;
  border-color: #eed3d7;
  color: #b94a48;
  text-align: left;
}

.alert-alert {
  background-color: #f2dede;
  border-color: #eed3d7;
  color: #b94a48;
  text-align: left;
}

.alert-success {
  background-color: #dff0d8;
  border-color: #d6e9c6;
  color: #468847;
  text-align: left;
}

.alert-notice {
  background-color: #dff0d8;
  border-color: #d6e9c6;
  color: #468847;
  text-align: left;
}
